absl-py
colorama
colored_traceback
datasets
google-cloud-storage
markdown_strings
numpy
psutil
pytype
rich
tensorflow>=2.5
tensor2tensor
tensorflow_hub
toolz
tensorflow_text==2.5.0-rc0
transformers
tqdm